
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">
	
	<servlet>
	<servlet-name>MyServlet</servlet-name>
	<servlet-class>org.servlet.example.MyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>MyServlet</servlet-name>
	<url-pattern>/MyyServlet</url-pattern>
	
	
	</servlet-mapping>
</web-app>